html, body {
    height: 100%;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    background-color: gainsboro;
    font-weight: bold;
}

div {
    margin: 10px;
    padding: 10px;
}

#kulso {
    height: 100%;
    flex-direction: column;
    display: flex;
    background-color:white;
    border:5px solid darkgrey;
}

#kerdes_szoveg {
    background-color: crimson;
    color: white;
}

#kozepso {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#valaszok {
    flex-grow: 1;
    flex-shrink: 1;
}

#vezerlo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#kep {
    flex-grow: 1;
    flex-shrink: 1;
}

.gomb {
    padding: 20px;
    width: 80px;
    border: 5px solid darkgrey;
}

.kerdes {

}

.kattinthato {
    background-color: gainsboro;
}

.kattinthato:hover {
    background-color: darkorange;
    color: white;
    cursor: pointer;
}


.jo {
    background-color: lightgreen;
}

.jo:hover {
    background-color: lightgreen;
    color: black;
    cursor: default;
}

.rossz {
    background-color: red;
    color: black;
    cursor: default;
}

.rossz:hover {
    background-color: red;
    color: black;
    cursor: default;
}

.rejtett{
    display: none;
}